GNP_TZ=Europe/Paris
GNP_PUID=1000
GNP_PGID=1000
GNP_STEAM_APP_ID=2465200
GNP_STEAM_USER=anonymous
GNP_STEAM_PASSWORD=
GNP_STEAM_AUTH=
GNP_STEAM_BETA=
GNP_STEAM_BETA_PASSWORD=
GNP_GAME_UPDATE=true
GNP_FORCE_PLATFORM_WINDOWS=true
GNP_WINETRICKS_RUN=vcrun2022 corefonts sound=disabled
WINEDEBUG=-all
WINEDLLOVERRIDES=mscoree,mshtml=
GNP_SERVER_NAME=GNP_SOTF_Server
GNP_SERVER_PASSWORD=
GNP_IP_ADDRESS=0.0.0.0
GNP_GAME_PORT=8766
GNP_QUERY_PORT=27016
GNP_BLOB_SYNC_PORT=9700
GNP_MAX_PLAYERS=8
GNP_LAN_ONLY=false
GNP_SAVE_SLOT=1
GNP_SAVE_MODE=Continue
GNP_GAME_MODE=Normal
GNP_SAVE_INTERVAL=600
GNP_IDLE_DAY_CYCLE_SPEED=0.0
GNP_IDLE_TARGET_FRAMERATE=5
GNP_ACTIVE_TARGET_FRAMERATE=60
GNP_LOG_FILES_ENABLED=true
GNP_TIMESTAMP_LOG_FILENAMES=true
GNP_TIMESTAMP_LOG_ENTRIES=true
GNP_SKIP_NETWORK_ACCESSIBILITY_TEST=true
GNP_OWNER_STEAM_IDS=
GNP_VERBOSE_LOGGING=false
GNP_FILTER_WINE_LOGS=true
GNP_EXTRA_ARGS=
